# Mark down
## Mark down
### Mark down
#### Mark down

# Python
    - python1
        -pyhton1
        -python2 
        
  # Font styles
  ***FONT***
  **FONT**
  *FONT*

In [3]:
 print ("Hello World")

Hello World

In [4]:
print ("Hello ,World")

Hello ,World

In [5]:
print ("one", "two", "three")

one two three

# Variables:
- to store the data

a= 10 # single value assigned to single variable
print(a)

In [7]:
a =b = c =10 # single value assigned to multiple variabels
print(a,b,c)

10 10 10

In [8]:
a,b,c = 10,20,30 # multiple values assigned to multiple variables
print(a,b,c)

10 20 30

# Input function
- accept input from users

In [16]:
# Input as text

x = input("Enter your name:")
print("your nameis:",x)
print(type(x))

Enter your name:Bharathi
your nameis: Bharathi
<class 'str'>

In [10]:
# Input as number
n = int(input("Enter a number"))
print (n)
print (type(n))

Enter a number9
9
<class 'int'>

# Data types:

In [11]:
# Integer
x = 10
print(x)
print(type(x))

10
<class 'int'>

In [12]:
# float
a = 10.2
print(a)
print(type(a))

10.2
<class 'float'>

In [13]:
# string
a = "Python"
print(a)
print(type(a))

Python
<class 'str'>

# Data conversions

In [14]:
# Integer
n = 5
print(n,type(n))
f = float(n)
print(f,type(f))
s = str(n)
print(s,type(s))

5 <class 'int'>
5.0 <class 'float'>
5 <class 'str'>

In [19]:
# string
s = "12345"
print(s,type(s))
n = int(s)
print(n,type(n))
f = float(s)
print(f,type(f))

12345 <class 'str'>
12345 <class 'int'>
12345.0 <class 'float'>

In [18]:
# float
f = 3.1
print(f,type(f))
n = int(f)
print(n,type(n))
s = str(f)
print(s,type(s))

3.1 <class 'float'>
3 <class 'int'>
3.1 <class 'str'>

# Exercise:

In [20]:
n = input("Enter your name:")
print("name is" ,n)

Enter your name:Bharathi
name is Bharathi

In [21]:
pi= 3.14
r= int(input("Enter a radius"))
print(pi*r*r)

Enter a radius9
254.34

In [22]:
a = int(input())
b = int(input())
c = a+b
d = a-b
e = a/b
f = a*b
print(c,d,e,f)

29
12
41 17 2.4166666666666665 348

In [23]:
x = int(input("Enter a year"))
x = x+50
print(x)

Enter a year1962
2012